@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

main {
    margin: 0 auto;
    padding: 0 7.5%;
    min-height: calc(100% - 106px - 5%);
}

footer {
    text-align: center;
    padding-bottom: .25rem;
    margin-top: 2.5%;
}

footer a {
    text-decoration: none;
    color: #222222;
}

footer a i {
    margin-right: .75rem;
    color: #9c27b0;
}

footer a:hover {
    color: #9c27b0;
}

footer hr {
    margin-bottom: 1rem;
    background-color: #9c27b0;
    height: 1px;
    border: 0;
}

footer p {
    font-size: .65rem;
    margin: .75rem 0 0;
}

a {
    text-decoration: none;
    color: #ffffff;

}

button,
input {
    font-family: 'Montserrat', sans-serif;

}

.c-dropdown {
    position: relative;
    user-select: none;
    width: 100%;
    min-width: 235px;
    margin: 0 auto;
    text-align: left;
}

.c-dropdown__select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.c-dropdown__select-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 17.6px;
    font-weight: bold;
    color: #222222;
    height: 52px;
    line-height: 52px;
    background: #ffffff;
    cursor: pointer;
    border: 1px solid #9c27b0;
    border-radius: .25rem;
}

.c-dropdown__select-trigger::after {
    content: 'Please Select a Sequence';
    right: .5rem;
    bottom: -3.5rem;
    display: none;
    border-radius: .25rem;
}

.c-dropdown__select-trigger::before {
    content: '';
    right: 1.9rem;
    bottom: -1.1rem;
    display: none;
}

.c-dropdown__options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #9c27b0;
    border-top: 0;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.c-dropdown__select.open .c-dropdown__options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.c-dropdown__option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 17.5px;
    font-weight: bold;
    color: #222222;
    line-height: 52px;
    cursor: pointer;
    transition: all 0.2s;
}

.c-dropdown__option:hover {
    cursor: pointer;
    background-color: #3cb027;
    color: #ffffff;
}

.c-dropdown__option.selected {
    color: #ffffff;
    background-color: #3cb027;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.25rem;
    height: 100%;
    transition: all 0.5s;
}

.arrow::before {
    left: -4.5px;
    transform: rotate(45deg);
    background-color: #3cb027;
}

.arrow::after {
    left: 4.5px;
    transform: rotate(-45deg);
    background-color: #3cb027;
}

.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
    width: 0.15rem;
}

.open .arrow::after {
    width: 0.15rem;
    left: 5px;
    transform: rotate(45deg);
}

input[type="checkbox"] {
    display: none;
}

.c-digits__btn {
    display: block;
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1% 0 0;
    cursor: pointer;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: #222222;
    font-weight: bold;
    border: 1px solid #9c27b0;
    transition: transform 75ms linear, border 50ms linear, color 50ms linear, background-color 50ms linear;
}

.c-digits__btn span {
    font-weight: 500;
    pointer-events: none;
}

.c-digits__btn:hover {
    transform: scale(.985);
    border: 1px solid #9c27b0;
    background-color: #9b27b0ad;
    color: #FFFFFF;
}

.c-digits__btn:active {
    transform: scale(.975);
    border: 3px solid #9c27b0;
}

.h-pushed {
    border: 1px solid #9c27b0;
    background-color: #9c27b0;
    color: #FFFFFF;
}

.h-pushed:hover {
    background-color: #9c27b0;
}

.c-pagination__wrapper,
.c-digits__wrapper {
    display: flex;
    padding: 2.5% 0;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
    flex-wrap: wrap;
}

.c-digits__wrapper::after {
    content: 'Please Select Digit count or min/max';
    bottom: -3rem;
    left: 550px;
    display: none;
    border-radius: .25rem;
}

.c-digits__wrapper>p {
    margin: 0 1% 0 0;
}

.c-pagination__wrapper {
    padding: 0 7.5% 1%;
    align-items: center;
    justify-content: center;
}

.c-pagination__btn {
    margin: 0 0 0 .5%;
    background-color: transparent;
    width: 2.75rem;
    height: 2.75rem;
    font-size: 1rem;
    border-color: #3BB027;
}

.c-pagination__btn:hover {
    background-color: #3BB027;
    border-color: #3BB027;
    color: #ffffff;
    transform: initial;
}

.c-pagination__wrapper button:first-child,
.c-pagination__wrapper button:last-of-type {
    width: 3.25rem;
}

.c-pagination__btn:active {
    transform: scale(.975);
    border: 3px solid #3BB027;
}

header {
    height: 3.5rem;
    width: 100%;
    margin-bottom: 2.5%;
    justify-content: space-between;
    align-items: center;
    background-color: #9c27b0;
    font-size: 17px;
    position: relative;
}

.c-nav__items,
header {
    display: flex;
}

.c-nav__items {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 7.5% 0 0;
}

.c-nav__item {
    padding: 0 1.25rem 0;
    cursor: pointer;
    color: #ffffff;
    height: 3.5rem;
    line-height: 3.5rem;
    white-space: nowrap;
    position: relative;
    text-align: center;
}

.c-nav__item::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #ffffffb3;
    display: none;
}

.c-nav__item:hover::after {
    display: block;
}

.c-search {
    width: 10.5rem;
    border-radius: 1rem;
    align-self: center;
    margin-left: 2.5%;
    position: relative;
    z-index: 11;
    padding-left: .35rem;
}

.c-search__input {
    width: 100%;
    border-radius: 1rem;
    padding: .55rem 1.75rem .55rem .8rem;
    border: none;
    background-color: #BC37D3;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.c-search__input::placeholder {
    color: rgba(255, 255, 255, 0.836);
}

.c-search__btn i {
    color: #fff;
    color: rgba(255, 255, 255, 0.836);

    font-size: 1rem;
}

.c-search__btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .75rem;
    cursor: pointer;
}

.c-search__btn:hover i {
    color: #3BB027;
}

.c-logo__wrapper {
    display: flex;
    align-items: center;
    padding: 0 0 0 7.5%;
}

.c-logo__infinity {
    position: relative;
    min-width: 43px;
    height: 20px;
    box-sizing: content-box;
}

.c-logo__infinity:before,
.c-logo__infinity:after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border: 4px solid #3cb027;
    border: 4px solid #ffffff;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
}

.c-logo__infinity:after {
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
}

.l-padding {
    padding: 0 0 0 .8rem;
}

.h-border-bottom {
    border-bottom: 4px solid #ffffffb3;
}

.h-border-bottom:hover::after {
    display: none;
}

.c-generate-btn {
    padding: 0 1rem;
    line-height: 52px;
    height: 52px;
    border-radius: .5rem;
    background-color: #3BB027;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
    display: inline;
    position: absolute;
    right: 0;
}

.c-generate-btn:hover {
    background-color: #1fb903;
}

.c-generate-btn:active {
    transform: scale(.995);

}

.c-form {
    text-align: right;
}

.c-form__input-wrapper {
    width: 100%;
    text-align: left;
    font-size: 17.6px;
    font-weight: bold;
    position: relative;
}

.c-form__input-field {
    height: 52px;
    width: 7.5rem;
    border: 1px solid #9c27b0;
    border-radius: .25rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 1% 0 0;
    outline-color: #3BB027;
}

.c-form__input-label {
    margin: 0 1% 0 0;
}

.c-form__input-wrapper::after {
    content: 'Please Enter A Valid Max Value';
    left: 550px;
    top: .25rem;
    display: none;
    border-radius: .25rem;
}

.c-form__input-wrapper::before {
    content: '';
    top: 1.25rem;
    left: 545px;
    display: none;
}

.c-output {
    font-size: 1.45rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: -2.5% 0 1%;
}

.c-output span {
    background-color: #F4FBF4;
    padding: .85rem 0;
    text-indent: 1rem;
    color: #222222;
}

.c-output span:nth-child(2n) {
    filter: brightness(99%);
}

.c-list__title {
    padding: 3.5rem 0 2rem;
    margin-bottom: 2.5%;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.c-list__info {
    text-transform: capitalize;
}

.h-alert {
    border-color: red;
}

.h-alert::before {
    background-color: red;
    padding: .3rem;
    position: absolute;
    transform: rotate(45deg);
    animation: alert2 1.25s 5;
    cursor: auto;
    display: block;
}

.h-alert::after {
    position: absolute;
    color: red;
    border-radius: .25rem;
    border: 4px solid red;
    font-size: .8rem;
    text-transform: uppercase;
    padding: 0 1rem;
    line-height: 35px;
    z-index: 1;
    background-color: #ffffff;
    animation: alert1 1.25s 5;
    cursor: auto;
    display: block;
}

.h-hide {
    display: none;
}

.h-active {
    background-color: #3BB027;
    color: #ffffff;
}

@keyframes alert1 {
    from {
        color: blue;
        border-color: blue;
    }

    to {
        color: red;
        border-color: red;
    }
}


@keyframes alert2 {
    from {
        background-color: blue;
    }

    to {
        background-color: red;
    }
}

.c-about__title {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2.5% 0;
    text-align: center;
}

.c-about__main {
    font-size: 1.25rem;
    line-height: 1.5;
}

.c-about__list {
    list-style: decimal;
    padding: 1% 2.5%;
    max-width: 1000px;
    margin: 0 auto;
}

.c-about__info {
    padding-top: 2.5%;
    max-width: 1100px;
    margin: 0 auto;
}

.c-contact__email {
    color: #3BB027;
    text-decoration: underline;
}

.c-contact__main {
    text-align: center;
}

.c-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    min-width: 280px;
    max-width: 350px;
    width: 22.5%;
    z-index: 100;
    border-radius: .25rem;
    padding: .5rem .5rem 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.c-result__header {
    background-color: #9c27b0;
    border-radius: .25rem .25rem 0 0;
    padding: .75rem .75rem;
    text-align: right;
    margin: -.5rem;
}

.c-result__exit {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
}

.c-result__exit:hover {
    color: tomato;
}

.c-result__exit:active {
    color: rgb(253, 66, 33);
    transform: scale(95%);
}

.c-result__title {
    color: #3BB027;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: center;
    padding: 1.5rem 0 1rem;
}

.c-result__item {
    border-bottom: .5px solid rgb(192, 185, 185);
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
}

.c-result__items {
    border-top: .5px solid rgb(192, 185, 185);
}

.c-result__item:last-child {
    border-bottom: none;
}

.c-result__item i {
    font-size: 1.75rem;
}

.fa-check-circle {
    color: rgb(10, 255, 10);
}

.fa-times-circle {
    color: red;
}

.blur__JS {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #e0e0e0ab;

}

.h-overflow {
    overflow-y: hidden;
}

@supports ((-webkit-backdrop-filter: blur(.25rem)) or (backdrop-filter: blur(.25rem))) {
    .blur__JS {
        background-color: rgba(255, 255, 255, .15);
        -webkit-backdrop-filter: blur(.25rem);
        backdrop-filter: blur(.25rem);
    }
}

@media only screen and (min-width: 1530px) {

    .c-output span:nth-child(16n + 1),
    .c-output span:nth-child(16n + 2),
    .c-output span:nth-child(16n + 3),
    .c-output span:nth-child(16n + 4),
    .c-output span:nth-child(16n + 5),
    .c-output span:nth-child(16n + 6),
    .c-output span:nth-child(16n + 7),
    .c-output span:nth-child(16n + 8) {
        background-color: #CFEEC9;
    }
}

@media only screen and (min-width: 1175px) and (max-width: 1530px) {
    .c-output {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .c-output span:nth-child(12n + 1),
    .c-output span:nth-child(12n + 2),
    .c-output span:nth-child(12n + 3),
    .c-output span:nth-child(12n + 4),
    .c-output span:nth-child(12n + 5),
    .c-output span:nth-child(12n + 6) {
        background-color: #CFEEC9;
    }
}

@media only screen and (max-width: 1225px) {
    .c-digits__wrapper {
        padding: 3.5% 0 1.75%;
    }

    .c-digits__wrapper>p {
        flex: 0 0 100%;
        text-align: left;
        padding-bottom: 1.75%;
    }

    .c-digits__btn {
        margin: 0 1.75% 1.75% 0;
    }

    .c-form__input-wrapper label:first-child {
        display: block;
        padding-bottom: 1.75%;
    }

    .c-digits__wrapper::after {
        bottom: -1.75rem;
        left: 330px;
    }

    .c-form__input-wrapper::after {
        left: 330px;
        top: calc(2.5rem - 1.75%);
    }

    .c-form__input-wrapper::before {
        top: calc(3.5rem - 1.75%);
        left: 325px;
    }
}

@media only screen and (min-width: 975px) and (max-width: 1175px) {
    .c-output {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .c-output span:nth-child(10n + 1),
    .c-output span:nth-child(10n + 2),
    .c-output span:nth-child(10n + 3),
    .c-output span:nth-child(10n + 4),
    .c-output span:nth-child(10n + 5) {
        background-color: #CFEEC9;
    }
}

@media only screen and (max-width: 920px) {
    .c-digits__wrapper {
        padding: 5% 0 3.25%;
    }

    .c-digits__wrapper>p {
        padding-bottom: 2.5%;
    }

    .c-form__input-wrapper label:first-child {
        display: block;
        padding-bottom: 2.5%;
    }

    .c-generate-btn {
        padding: 0 1rem;
        top: 125%;
        left: initial;
    }

    .c-list__title {
        padding: 6rem 0 1.5rem;
        font-size: clamp(1.1rem, 3vw, 2rem);
    }

    .c-output {
        margin-bottom: 2.5%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 975px) {
    .c-output {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .c-output span:nth-child(8n + 1),
    .c-output span:nth-child(8n + 2),
    .c-output span:nth-child(8n + 3),
    .c-output span:nth-child(8n + 4) {
        background-color: #CFEEC9;
    }
}

@media only screen and (max-width: 786px) {
    .c-digits__wrapper::after {
        bottom: -1.75rem;
        left: 0;
    }

    .c-dropdown__select-trigger::after,
    .c-digits__wrapper::after,
    .c-form__input-wrapper::after {
        font-size: clamp(.55rem, 2vw, .9rem);
    }

    .c-dropdown__select-trigger {
        font-size: clamp(1rem, 3.5vw, 17.6px);
    }

    .c-form__input-wrapper::after {
        left: 0;
        top: -.9rem;
    }

    .c-form__input-wrapper::before {
        left: 11.5rem;
        top: 1.4rem;
    }

    .c-digits__wrapper>p,
    .c-form__input-wrapper label:first-child {
        padding-bottom: 3%;
    }
}

@media only screen and (min-width: 575px) and (max-width: 768px) {
    .c-output {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .c-output span:nth-child(6n + 1),
    .c-output span:nth-child(6n + 2),
    .c-output span:nth-child(6n + 3) {
        background-color: #CFEEC9;
    }
}

@media only screen and (max-width: 575px) {
    .c-output {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .c-output span:nth-child(2n + 1) {
        background-color: #CFEEC9;
    }

    .c-form {
        padding: 1rem 0 0;
    }

    .c-digits__wrapper>p,
    .c-form__input-wrapper label:first-child {
        padding-bottom: 4.5%;
    }

    .c-digits__wrapper {
        padding: 7% 0 5.25%;
    }

    .c-search {
        width: 9.75rem;
    }

    main {
        padding: 0 5%;
    }
}