@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

button, input{
    font-family: 'Montserrat', sans-serif;

}
.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 350px;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #394a6d;
}

.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #394a6d;
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #394a6d;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}

.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}

.custom-option.selected {
    color: #ffffff;
    background-color: #305c91;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}

.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}

.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}

.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}

.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}

input[type="checkbox"] {
    display: none;
}

.checkbox__item {
    /* padding: 1rem; */
    border: 1px solid #394a6d;
    display: block;
    /* display: inline-block;
    vertical-align: middle; */
    cursor: pointer;
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    margin: 0 .2rem 0 0;
}

.checkbox-wrapper {
    display: flex;
}


header{
    height: 3.5rem;
    width: 100%;
    margin-bottom: 2.5%;
    justify-content: space-between;
    align-items: center;
    background-color: #9c27b0;
    padding: 0 7.5%;
    font-size: 17px;
}

.c-nav, .c-nav__items, header{
    display: flex;
}

.c-nav{
    width: fit-content;
    width: 40%;
    justify-content: flex-end;
}

.c-nav__items{
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.c-nav__item{
    padding: 0 1.25rem 0;
    cursor: pointer;
    color: #ffffff;
    height: 3.5rem;
    line-height: 3.5rem;
    white-space: nowrap;
    position: relative;
    text-align: center;
}

.c-nav__item::after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #ffffffb3;
    display: none;
}

.c-nav__item:hover::after{
    display: block;
}

.c-search{
    width: 10.5rem;
    border-radius: 1rem;
    align-self: center;
    margin-left: 2.5%;
}

.c-search__input{
    width: 100%;
    border-radius: 1rem;
    padding: .45rem .9rem .45rem 1.2rem;
    border: none;
}

.c-logo{
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
}

.l-padding{
    padding: 0 .675rem 0 .675rem;
}

.h-border-bottom{
    border-bottom: 4px solid #ffffffb3;
}

.h-border-bottom:hover::after{
    display: none;
}

.c-generate-btn{
    padding: 0 1rem;
    line-height: 3.5rem;
    height: 3.5rem;
    border-radius: .5rem;
    background-color: #3BB027;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
}